#App {
  font-family: sans-serif;
  height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
 
.wrapper > * {
  padding: 20px;
}
 
.page-main {
  flex-grow: 1;
}

body {
  display: flex;
  flex-direction: column;
}

.page-header nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  top: 0;
  background-color: rgba(20, 45, 76, 1);
  color: rgba(236, 236, 236, 1);
}

.topic-page {
  color:  rgba(6, 6, 5, 1);
}
.homepage {
  color:  rgba(20, 45, 76, 1);
  background-color: rgba(236, 236, 236, 1);
}
.page-header ul {
  display: flex;
  order: 1;
  width: 100%;
  margin-top: 15px;
  background-color:  rgba(20, 45, 76, 1);
}
 
@media screen and (min-width: 550px) {
  .page-header ul {
    width: auto;
    margin-top: 0;
  }
 
  .page-header .user-welcome {
    order: 1;
  }
  
}


:root {
  --main-white-color: rgba(236, 236, 236, 1);
  --main-color: rgba(56, 81, 112, 1);
}
 
.page-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 350px;
  background: var(--main-color) url(./images/buttermere.jpg) no-repeat center / cover;
  background-blend-mode: luminosity;
  color: var(--main-white-color);
}
 
.page-main div {
  max-width: 500px;
}
 
@media screen and (max-width: 549px) {
  .sidebar {
    display: none
  }
  .addCommentButton {
    display: none;
  }
  .remove-comment-button {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .page-main {
    padding-left: 90px;
  }
  .sidebar {
    display: none
  }
  .small-remove-comment-button {
    display: none;
  }
  .small-addCommentButton {
    display: none;
  }
}

.page-footer {
  display: flex;
  flex-direction: column-reverse;
  height: 1.5rem;
}
 
.page-footer ul {
  display: flex;
  font-size: 1.5rem;
  margin-bottom: 5px;
}
 
@media screen and (min-width: 550px) {
  .page-footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .sidebar {
    display: none;
  }
  .page-footer ul {
    margin-bottom: 0;
  }
  .small-addCommentButton {
    display: none;
  }
  .small-addCommentButton {
    display: none;
  }
}

.desktop-menu-item {
  background-color: inherit;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgba(159, 211, 199, 1);
  max-height: 75px;
  padding: rem-calc(10);
  margin: 10px;
  text-decoration: none;
}

.menu-item {
  background-color: inherit;
  display: flex;
  flex-direction: row;
  align-items: center;
  color:  rgba(159, 211, 199, 1);
  max-height: 75px;
  padding: rem-calc(10);
  margin: 10px;
  text-decoration: none;
}

.desktop-menu-item:hover {
  color: #F9DC5C;
}

.menu-item:hover {
  color: #F9DC5C;
}

.text-link {
  color: inherit;
  text-decoration: none;
}

.text-link:hover {
  color: #F9DC5C;
}

.comment-card {
  border: 2px solid rgba(56, 81, 112, 1);
  background-color:  rgba(20, 45, 76, 1);
  color:  rgba(236, 236, 236, 1);
}

.article-card {
  border: 2px solid rgba(56, 81, 112, 1);
  background-color:  rgba(20, 45, 76, 1);
  color:  rgba(236, 236, 236, 1);
}

.single-article {
  background-color: rgba(56, 81, 112, 1);
  color: rgba(236, 236, 236, 1);
}

.small-addCommentButton {
  border: rgba rgba(236, 236, 236, 1);
  color:  rgba rgba(236, 236, 236, 1);
  padding: rem-calc(2);
  margin-top: 0.5rem;
}

.small-remove-comment-button {
  padding: rem-calc(2);
  margin-left: 1rem;
  margin-bottom: 1rem;
  border:  rgba rgba(236, 236, 236, 1);
  color:  rgba(236, 236, 236, 1);
}

.addCommentButton {
  background-color:   rgba rgba(236, 236, 236, 1);
  color:   rgba(6, 6, 5, 1);
  padding: rem-calc(10);
  margin-top: 1rem;
}

.remove-comment-button {
  padding: rem-calc(10);
  margin-left: 1rem;
  margin-bottom: 1rem;
  background-color:   rgba rgba(236, 236, 236, 1);
  color:   rgba(6, 6, 5, 1);
}

input {
  width: 100%;
  min-height: 4rem;
  box-sizing:border-box;
}

span {
  overflow: hidden;
}

.votebar {
  display: flex;
  flex-direction: row;
  max-height: 75px;
}
.upvote {
  display: flex;
  flex-direction: row;
}

.downvote {
  display: flex;
  flex-direction: row;
}

.user-welcome {
  background-color: inherit;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgba(236, 236, 236, 1);
  max-height: 75px;
  padding: rem-calc(10);
  margin: 30px;
  text-decoration: none;
}

.logo {
  background-color: inherit;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgba(236, 236, 236, 1);
  max-height: 75px;
  padding: rem-calc(10);
  margin: 30px;
}

.sorter {
  padding: rem-calc(10);
  margin: 30px;
}

.article-body {
  margin: 20px;
}

.comment-body {
  margin: 20px;
}

.homepage-body {
  margin: 20px;
}

.form {
  margin: 20px;
}

.vote-bar {
  margin: 20px;
}

.article-title {
  margin: 20px;
}

.homepage-title {
  margin: 20px;
}

.comments-title {
  margin: 20px;
}

.homepage-subtitle {
  margin: 20px;
}

.submittedBy {
  margin: 20px;
}
