@media screen and (max-width: 500px) {
  .App {
    display:flex;
    flex-direction: column;
    background-color:  #696773;
    text-align: center;
  }
}

.App {
  background-color: #696773;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 7fr;
  grid-template-rows: 1fr 7fr;
  grid-template-areas:
    'header header'
    'sidebar main'
  ;
}

.NavBar {
  background-color: #F9DC5C;
  grid-area: sidebar;
  min-height: 20px;
  display: grid;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #F4FFFD
}

.App-header {
  background-color: #ED254E;
  grid-area: header;
  min-height: 200px;
  max-height: 200px;
  display: grid;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #F4FFFD;
}



